 @font-face {
    font-family: Aktiv;
    src: url(./AktivGroteskCd_W_Blk.ttf);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Aktiv;

}

#main{
    display: none;
    opacity: 0;
}
body::-webkit-scrollbar{
    width:4px;
    height: 4px;
    background-color: #00A74B;
}

body::-webkit-scrollbar-thumb{
    background-color: #FF4655;
}



.loadingimg{
    animation-name: anime;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}